* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

select {
  width: 100%;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: none;
}

body {
  background-image: url(../image/bg.jpg);
  background-size: cover;
  background-position: 50%;
  display: block;
  font-family: "Microsoft JhengHei","OpenSans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

body header {
  display: block;
  box-sizing: border-box;
  margin: 0;
}

body header .flex-space-between {
  display: flex;
  justify-content: space-between;
}

body header .leaves {
  background-image: url(../image/leaves@formal.png);
  background-repeat: repeat-y;
  background-position: center -70px;
  height: 70px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.fullpage {
  height: 614px;
  padding: 30px 0;
}

.fullpage .main-block {
  margin: 0;
  text-align: center;
  position: relative;
  z-index: 2;
}

.fullpage .search-box {
  padding: 25px;
  display: flex;
  background: #fff;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}

.sec-content {
  padding: 50px 0;
}

.maintitle {
  position: relative;
  text-align: center;
  font-size: 30px;
  color: #333;
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .maintitle {
    margin-bottom: 30px;
  }
}

.maintitle .dot {
  display: block;
}

.maintitle .dot:after, .maintitle .dot:before {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #333;
}

.maintitle:before {
  left: 0;
}

.maintitle:after {
  right: 0;
}

.maintitle .dot:before {
  left: 0;
}

.maintitle .dot:after {
  right: 0;
}

.maintitle:after, .maintitle:before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  height: 2px;
  width: 20%;
  background: #333;
}

.pic-block {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  width: 200px;
}

.logo img {
  width: 100%;
}

.social-icon {
  margin-left: 5px;
  width: 30px;
  cursor: pointer;
}

.search-img {
  width: 220px;
  margin-bottom: 30px;
}

.icon-ii {
  width: 16.92px;
}

.search-select {
  border: 0;
  color: #333;
  outline: 0;
  margin-left: 20px;
  background: #fff;
  appearance: none;
}
